<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-table.css}">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap3/js/bootstrap.js"></script>
    <script src="js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="js/bootstrap3/css/bootstrap.css">
    <script src="js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="js/bootstrap-treeview/bootstrap-treeview.min.css">
    <script src="js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
    <link rel="stylesheet" href="js/bootStrap-addTabs/bootstrap.addtabs.css">
    <link rel="stylesheet" href="js/bootstrap-table/bootstrap-table.css">
    <script src="js/bootstrap-table/bootstrap-table.js"></script>
    <script src="js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</head>
<body>
<center>
    <h1 >全部订单</h1>
</center>

<div id="toolbar">
    <form class="form-inline">

        <div class="form-group">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button type="button" onclick="huishou()" class="btn btn-warning glyphicon glyphicon-trash">订单回收站</button>
            </div>
        </div>


    </form>
</div>
<div class="Newteachwell">

    <span id="Newteachwell"></span>

</div>


<script type="text/javascript" th:inline="none">

    $(function(){
        selectdpj();
    })

    function selectdpj() {
        $.ajax({
            type:"post",
            url:"selectdpj",
            data:{page:1,rows:8},
            dataType:"json",
            success:function(data) {
                var dd = "";
                for (var i = 0; i < data.rows.length; i++) {
                    dd+='<div class="row"><div class="container">';
                    dd+='<div class="row">';
                    dd+=' <div class="col-md-12" style="background-color: #dedef8;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">';
                    dd+='<h4>' +
                        data.rows[i].create_time +
                        ' &nbsp;&nbsp;&nbsp;&nbsp;\n' +
                        '&nbsp;&nbsp;&nbsp;&nbsp;\n' +
                        '  &nbsp;&nbsp;&nbsp;&nbsp;\n' +
                        ' &nbsp;&nbsp;&nbsp;&nbsp;\n' +
                        '  &nbsp;&nbsp;&nbsp;&nbsp;\n' +
                        '订单号:'+data.rows[i].order_id+'</h4>';
                    dd+='  <div class="row">\n' +
                        '<div class="col-md-6" style="background-color: #ffffff; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444; height: 150px">';
                    dd+=' <p><img src='+data.rows[i].imgpath+' width="100px" height="100px">';
                    dd+=data.rows[i].miaosu +
                        '<p>' +
                        '</div>';
                    dd+='<div class="col-md-6"  style="background-color: #ffffff; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444; height: 150px">\n' +
                        '<h4>' +
                        '价格:￥'+data.rows[i].order_price+' &nbsp; &nbsp; &nbsp;'+'\n' +
                        '数量:'+data.rows[i].sku_num+'\n' +
                        ' &nbsp;&nbsp;&nbsp;&nbsp;\n' +
                        '实付款:￥'+data.rows[i].shifukuan+'\n' +
                        ' &nbsp;&nbsp;&nbsp;&nbsp;\n' +
                        '<a href="javaScript:deleteInfo('+data.rows[i].id+')">删除</a></h4>\n' +
                        '</div></div></div></div></div></div>';
                }
                $("#Newteachwell").html(dd);
            }
        })
    }


    function deleteInfo(id){

        bootbox.confirm({
            size: "samll",
            title: "提示",
            message: "确定要删除这个订单吗？",
            buttons: {
                confirm: {
                    label: '确定',
                    className: 'btn-success'
                },
                cancel: {
                    label: '取消',
                    className: 'btn-danger'
                }
            },
            callback:function(result){
                if(result){
                    $.ajax({
                        url:"delDD",
                        data:{id:id},
                        type:"post",
                        success:function(data){
                            bootbox.alert({
                                size: "samll",
                                title: "提示",
                                message: "删除成功",
                                callback: function(){
                                    location.href="../toDpj";
                                }
                            });
                        }
                    })
                }
            }
        })
    }

    function huishou() {
        location.href="../toHuiShou";
    }
</script>
</body>